mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: whitesmoke
}
mat-sidenav-container{
    width: 100%;
    height:100%;
}
.menu{
    height: calc(100vh - 0px);
    width: 200px;
    background-color: #002b5c;
    color: white;
    padding: 16px;
    text-align: center;
}
.menu-btn{
    text-align: center;
}

.menu-lateral{
    height: 100%; 
    width:100%;
}
.menu-lateral-cor{
    background-color: #002b5c;
    color:white;
}

 /*imagens */
.jogadoras{
    width: 20%;
    height:10%;
} 
.logo{
    height:20%;
    width:60%;
} 
 .logo1{
    height:120%;
    width:15%;
    margin-left: 40%;

}
.rancking{
    width: 30%;
    height:10%;
}
.Meia_quadra{
    padding: 10%;
}
 /*footer */
.footer{
    background-color: #002b5c;
    color :white;
}