<body>
        <form class="form" action="">
            <div class="card">
                <div class="card-top">
                    <img class='logo'src="../../../assets/Logo.png" alt="">
                    <h1 class="title">Login</h1>
                </div>
                <br>
                <div class="card-top">
                    <label class="Login">Email:  </label>
                    <input clss='Login'type="text" name="email">
                </div><br>     
                <div class="card-top">
                    <label class="Login">Senha:  </label>
                    <input type="password" name="email">
                </div>
                <br>
                <div class="card-top">
                    <button class="btn btn-primary" type="submit">Entrar</button>
                </div>
                <br>
                <div class="card-top">
                <p>Não tem uma conta ? <a href="">Cadastre-se</a> </p> 
            </div>
                </div>
        </form>
</body>